footer {
    .footer-title {
        color: #f36548;
        text-transform: uppercase;
        margin-bottom: 20px;
        h3 {
            font-size: 18px;
            border-bottom: 5px solid #9e9e9e;
            padding-bottom: 10px;
            margin-bottom: 1px;
            white-space: nowrap;
        }
    }
    .section-main-footer {
        background-image: url("../img/bg-footer.png");
        .about-us-content {
            background-image: none;
            p {
                &:first-child {
                    margin-bottom: 20px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .quick-links {
            ul {
                li {
                    padding: 5px 0;
                    &:first-child {
                        padding-top: 0;
                    }
                    i {
                        color: #8f8f8f;
                        font-size: 11px;
                    }
                    a {
                        color: #373737;
                        &:focus {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .connect-us {
            ul {
                li {
                    float: left;
                    a {
                        width: 28px;
                        height: 28px;
                        display: block;
                        transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        -ms-transition: all 0.3s ease-in-out;
                        -moz-transition: all 0.3s ease-in-out;
                        -webkit-transition: all 0.3s ease-in-out;
                        &:hover {
                            background-position: 0 -38px;
                        }
                    }
                    .google-plus {
                        background: url("../img/googleplus.png") no-repeat;
                    }
                    .facebook {
                        background: url("../img/facebook.png") no-repeat;
                    }
                    .linkin {
                        background: url("../img/linkedin.png") no-repeat;
                    }
                    .twitter {
                        background: url("../img/twitter.png") no-repeat;
                    }
                    .pinterest {
                        background: url("../img/pintrest.png") no-repeat;
                    }
                    .stumbleupon {
                        background: url("../img/stumbleupon.png") no-repeat;
                    }
                }
            }
        }
        .upcoming-events {
            .event-date {
                padding: 5px;
                background-color: #ffffff;
            }
            .event-name {
                font-weight: bold;
                color: #000;
                display: block;
                &:focus {
                    text-decoration: underline;
                }
                p {
                    margin-top: 10px;
                }
            }
        }
    }
    .section-bottom-footer {
        background: #f36548;
        padding: 15px 0;
        p {
            text-transform: uppercase;
            color: #ffffff;
            font-size: 10px;
            font-weight: bold;
            margin: 0;
        }
    }
}
