/* Fonts Config  */

@font-face {
    font-family:fontDisplay;
    src: url(../fonts/DroidSans.ttf);
}

@font-face {
    font-family:fontDisplayBold;
    src: url(../fonts/DroidSans-Bold.ttf);
}


/* Font Colors */

$base-font-size:15px;
$base-primary-font-family:fontDisplay;
$base-secondary-font-family:fontDisplayBold;
$base-product-name: #1e2934;
$base-product-status: #627b92;


/* Background Colors */

$primary-color: #000a52;
$secondary-color: #325f70;
$third-color: #6397aa;

$btn-primary-color: #99c873;
$btn-secondary-color: transparent;

$section-primary-color: #faffff;
$section-secondary-color: #e9f4ff;

$product-sale-main: #424242;
$product-sale-promotion-price: #d52b2b;
$product-sale-shipping: #ff9000;
$product-new-status: #ffd800;


/* Website's Width */

$base-site-width: 1045px;